<a href="https://colab.research.google.com/github/ananayef/ananay-/blob/master/Ananaysood_7feb_202301007.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Question 1
import pandas as pd

data = {"Tid": [1,2, 3, 4, 5, 6, 7, 8, 9, 10],
         "Refund": ['yes', 'no', 'no', 'yes', 'no' , 'no', 'yes', 'no', 'no', 'no'],
        "Marital Status": ['Single', 'Married', 'Single', 'Married', 'Divorced', 'Married', 'Divorced', 'Single', 'Married', 'Single'],
        "Taxable Income": ['125K', '100K', '70K', '120K', '95K', '60K', '220K', '85K', '75K', '90K'],
        "Cheat": ['No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'Yes', 'No', 'Yes']}

mydata = pd.DataFrame(data)
print(mydata)
#Question 2

print(mydata.loc[0])
print(mydata.loc[4])
print(mydata.loc[7])
print(mydata.loc[8])
#question 3
#read the csv in google colab and display it

   Tid Refund Marital Status Taxable Income Cheat
0    1    yes         Single           125K    No
1    2     no        Married           100K    No
2    3     no         Single            70K    No
3    4    yes        Married           120K    No
4    5     no       Divorced            95K   Yes
5    6     no        Married            60K    No
6    7    yes       Divorced           220K    No
7    8     no         Single            85K   Yes
8    9     no        Married            75K    No
9   10     no         Single            90K   Yes
Tid                    1
Refund               yes
Marital Status    Single
Taxable Income      125K
Cheat                 No
Name: 0, dtype: object
Tid                      5
Refund                  no
Marital Status    Divorced
Taxable Income         95K
Cheat                  Yes
Name: 4, dtype: object
Tid                    8
Refund                no
Marital Status    Single
Taxable Income       85K
Cheat                Yes
Name: 7, dtype: object
Tid                     9
Refund                 no
Marital Status    Married
Taxable Income        75K
Cheat                  No
Name: 8, dtype: object